.cardstyle {
    position: relative;
    justify-content: center;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 2px solid #000000;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 30px;
    padding: 30px;
    width: 200px;
    max-width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.active {
    position: relative;
    justify-content: center;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 2px solid #ffffff;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 30px;
    padding: 30px;
    width: 200px;
    max-width: 100%;
    background-color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content {
    width: 100%;
    padding: 20px;
}

.poster {
    border-radius: 8px;
    width: 200px;
    min-width: 200px;
    height: calc(200px * 1.5);
    min-height: calc(200px * 1.5);
    overflow: hidden;
    gap: 20px;
}

h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #888;
}