.page{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.button {
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}