.header {
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #333;
    border-radius: 5px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.buttons {
    display: flex;
}
.button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}